body {
    margin: 0;
    padding: 0;
}

.Layout {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-size: 30px;
    //background: #a0aec0;
    padding: 10%;
    margin: 0 auto;

    &__main {
        flex: 1;
        //background: #6b7280;
    }
}
